
body{
    background: #DDF2FD; ;
}


#footer{
    background-color: #427D9D;
}

.foot_text_col:hover{
    color: #9BBEC8;
    
}

p{
    font-size: larger;
    text-align: justify;
}
#software li{
    font-size: large;
}
#concepts li{
    font-size: large;
}
@media (min-width: 670px) {
    .test{
        position: fixed !important;
        top: 8em !important;
    }
  }

  .nav{
    background-color: #427D9D;
  }

  p{
    color: #164863;
  }

  a{
    color: #DDF2FD;
  }

  .nav-link{
    color: #DDF2FD;
  } 

  li{
    color: #164863;
  }

  .rounded{
    background-color: #427D9D !important;
  }


  .cc{
    color: black;
  }

  
.nav-link:hover{
  color: #9ae6b4 !important;
  font-size: larger;
}

.cc:hover{
  color: #9ae6b4 !important;
  font-size: larger;

}

.nav-link{
  font-size: large;
  color: black !important;
}